---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date: "%Y-%m-%d" }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}">F&ouml;rra</a>
  {% else %}
    <span class="pagination-item older">F&ouml;rra</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="/">N&auml;sta</a>
    {% else %}
      <a class="pagination-item newer" href="/page{{paginator.previous_page}}">N&auml;sta</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">N&auml;sta</span>
  {% endif %}
</div>
